################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.user
/CMakeCache.txt
/CMakeFiles/
/.vsidx
/.vs/